# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host *
	IdentityAgent /Users/daniel/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

# git remote example: git remote set-url origin git@git.danieldaum.net:daniel-daum/saturn.git
Host git.danieldaum.net
    HostName git-ssh.danieldaum.net
    Port 2222
    User git

Host dxun
    HostName dxun.ts.danieldaum.net
    User maliciouspickle
    Port 22

Host ziost
    HostName ziost.ts.danieldaum.net
    User maliciouspickle
    Port 22
