# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host *
	IdentityAgent /Users/daniel/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

Host narshaddaa
    HostName narshaddaa.sturgeon-chameleon.ts.net
    User maliciouspickle
    Port 22

Host dxun
    HostName dxun.sturgeon-chameleon.ts.net
    User maliciouspickle
    Port 22

Host ziost
    HostName ziost.sturgeon-chameleon.ts.net
    User maliciouspickle
    Port 22

Host knot.danieldaum.net
    Port 2222
    User git
