# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host *
	IdentityAgent /Users/daniel/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

Host git.ts.danieldaum.net
    Port 2222

Host git.ts.danieldaum.net-automatic
    HostName git.ts.danieldaum.net
    Port 2222
    IdentityFile ~/.ssh/automatic_secretive.pub
    IdentitiesOnly yes

Host dxun
    HostName dxun.ts.danieldaum.net
    User maliciouspickle
    Port 22

Host narshaddaa
    HostName narshaddaa.ts.danieldaum.net
    User maliciouspickle
    Port 22

Host ziost
    HostName ziost.ts.danieldaum.net
    User maliciouspickle
    Port 22
x